{% extends "layout.twig" %}

{% block content %}

<section class="page  page--default">

    <!-- Header -->
    <header class="template-header">
        <div class="container">
            <div class="flex-item">
                <div class="widget-profile-header">
                    {{widget('clicktocall', 'clicktocalldefault', {})|raw}}
                </div>
            </div>
            <div class="flex-item">
                {{widget('logo', 'logo', {"defaultlogo": asset('images/logo.png')})|raw}}
                {{widget('companyname', 'companyname', {
                "business": "profile",
                "showTplWidget":"0"
                })|raw}}
            </div>
            <div class="flex-item">
                {{widget('profile', 'header-profile2', { 'profileType':'socialicons' })|raw}}
            </div>
        </div>
    </header>

    <!-- Zone Content -->
    <div class="main-content">

        <div class="homepage-nav">
        
            {{widget('extendednavigation', 'extendednavigation', 
            {"align":"center"})|raw}}
            
        </div>

        <div class="container">

            {{zone('main')|raw}}

        </div>
    </div>


</section>

{% endblock %}

