<!doctype html>
<html class="no-js" lang="{{ page.seoLang }}">

<head>
	<meta charset="utf-8" />
	<title>{{ page.title }}</title>
	<meta name="keywords" content="{{ page.keywords }}" />
	<meta name="description" content="{{ page.description }}" />

	{% if site.favicon %}
		<link rel="icon" href="{{ site.favicon['favicon'] }}" type="image/x-icon" />
		<link rel="SHORTCUT ICON" href="{{ site.favicon['thumbnail'] }}?v={{ "now"|date("U") }}" type="image/x-icon" />
	{% endif %}
	<meta name="viewport" content="width=device-width,initial-scale=1">

	{% include basekit.headScript %}
</head>

<body class="{{ page.backgroundClass }}">

	<!-- Site Container (Required) -->
	<div class="site-container">

		{% block content %}
		{% endblock %}

		{% include "includes/footer.twig" %}

	</div>

    {% include basekit.bodyScript %}

	<!-- jQuery -->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>


	<!-- Touch Shim Script -->
	<script>
	    $(document).on('mq4hsChange', function (e) {
	        console.log(e);
	        $(document.documentElement).toggleClass('no-touch', e.trueHover);
	    });
	</script>

	<!-- Touch Shim -->
	<script src="{{asset('js/mq4-hover-shim.js')}}"></script>


	<script src="{{ asset('js/navigation.js')}}"></script>
	<script src="{{ asset('js/custom.js')}}"></script>

	{% block bodyscripts %}
	{% endblock %}
</body>
</html>
