<!-- Footer -->
<div class="contact-footer">
    <div class="contact-footer-title">
        {{widget('content', 'sidebarcontent', {
        content: '<h2>CONTACT</h2>'
        })|raw}}
    </div>
    <div class="footer-container">
        <div class="flex-item-50">
            {{widget('contactform', 'contact', {
                'text': 'Submit',
                'formTitle': 'Contact',
                'email': 'profile'
            })|raw}}
        </div>
        <div class="flex-item-50">
                <div class="footer-content-1">
                    {{widget('content', 'title1', {
                    content: '<h3>Lorem Ipsum</h3>'
                    })|raw}}
                    {{widget('content', 'text1', {
                    content: '<p>Sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad      minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea         commodo.</p>'
                    })|raw}}
                </div>
                <div class="footer-content-2">
                    {{widget('content', 'title2', {
                    content: '<h3>Dolor Sit Amet</h3>'
                    })|raw}}
                    {{widget('content', 'text2', {
                    content: '<p>Duis aute irure dolor in reprehenderit in voluptate        velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat         cupidatat non
                    proident, sunt in culpa qui officia deserunt mollit anim id est         laborum.</p>'
                    })|raw}}
                </div>
        </div>
    </div>
</div>

<!-- Footer -->
<footer class="template-footer">

	<div class="container">
		  {{widget('profile', 'footer-profile', { 'profileType':'socialicons' })|raw}}
	</div>

</footer>
